.cache
.dbus
.dotfiles.git
Downloads
Dropbox
.dropbox-dist
Games/magic-the-gathering-arena/
go
.*history
.ICEauthority
.local
.recently-used
.rnd
.steampath
.steampid
tmp
.virtualenvs
.wget-hsts
.Xauthority
